name: benchmark

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:

  benchmark:
    name: ${{ matrix.os }}-latest
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu
          - os: macos
          - os: windows

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable

      - name: bench
        run: cargo bench
