name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

# Linters inspired from here: https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md
jobs:

  rust:
    name: ${{ matrix.os }}-latest
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu
          - os: macos
          - os: windows

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: fmt
        run: cargo fmt --all -- --check
      - name: build
        run: cargo build --verbose
      - name: clippy
        run: cargo clippy -- -D warnings
      - name: test
        run: cargo test --verbose -- --nocapture

  rust-freebsd:
    name: freebsd
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6

      - name: Run CI
        uses: cross-platform-actions/action@v0.32.0
        with:
          operating_system: freebsd
          version: 14.3
          run: |
            sudo pkg update
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
            
            export PATH=$HOME/.cargo/bin:$PATH

            echo "Running cargo fmt check..."
            cargo fmt --all -- --check

            echo "Running cargo build..."
            cargo build --verbose

            echo "Running cargo clippy..."
            cargo clippy -- -D warnings

            echo "Running cargo tests..."
            cargo test --verbose -- --nocapture

  rust-unsupportted:
    name: unsupported
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Run CI
        uses: cross-platform-actions/action@v0.32.0
        with:
          operating_system: netbsd
          version: 10.1
          run: |
            sudo pkgin update
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
            
            export PATH=$HOME/.cargo/bin:$PATH

            echo "Running cargo fmt check..."
            cargo fmt --all -- --check

            echo "Running cargo build..."
            cargo build --verbose

            echo "Running cargo clippy..."
            cargo clippy -- -D warnings
