name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

# Linters inspired from here: https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md
jobs:

  rust:
    name: ${{ matrix.os }}-latest
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu
          - os: macos
          - os: windows

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: fmt
        run: cargo fmt --all -- --check
      - name: build
        run: cargo build --verbose
      - name: clippy
        run: cargo clippy -- -D warnings
      - name: test
        run: cargo test --verbose -- --nocapture

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          fail_ci_if_error: false
          flags: ${{ matrix.os }}
          token: ${{ secrets.CODECOV_IO }}

  rust-bsd:
    name: ${{ matrix.os }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: freebsd
            version: "15.0"
            rust_install: |
              sudo pkg update
              curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
              export PATH=$HOME/.cargo/bin:$PATH
          - os: openbsd
            version: "7.8"
            rust_install: |
              sudo pkg_add rust rust-rustfmt rust-clippy
          - os: netbsd
            version: "10.1"
            rust_install: |
              sudo pkgin update
              curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
              export PATH=$HOME/.cargo/bin:$PATH

    steps:
      - uses: actions/checkout@v6

      - name: Run CI
        uses: cross-platform-actions/action@v0.32.0
        with:
          operating_system: ${{ matrix.os }}
          version: ${{ matrix.version }}
          run: |
            set -e
            ${{ matrix.rust_install }}

            echo "Running cargo fmt check..."
            cargo fmt --all -- --check

            echo "Running cargo build..."
            cargo build --verbose

            echo "Running cargo clippy..."
            cargo clippy -- -D warnings

            echo "Running cargo tests..."
            cargo test --verbose -- --nocapture